[Unit]
Description=Starts the MinkaAire fan to mqtt service
After=multi-user.target

[Service]
Type=idle
ExecStart=node /home/danc/mqtt-minkaAire-fan/index.js --mqtt bb-8  --exec /home/danc/bin/ --mqttTopicPrefix minkaAire/
Restart=always

[Install]
WantedBy=multi-user.target

